# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.cursor
.cursorrules
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
/src-tauri/target
.tauri
*.tauri.key

# Tesseract Windows bundle (created by setup script, keep folder structure)
src-tauri/resources/tesseract-win/*
!src-tauri/resources/tesseract-win/.gitkeep

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db
